{% extends "base.html" %}

{% block title %}Вхід в систему{% endblock %}

{% block sidebar %}
    <div style="background-color: #eff3f6"></div>
{% endblock %}

{% block content %}

        <div class="content account">
            <div class="login-form">
                <h3>Авторизація:</h3>
                {% if form.errors %}
                    <p>Щось пішло не так :(</p>
                {% endif %}

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button type="submit">Вхід</button>

                    <p><a class="forgot" href="{% url 'password_reset' %}">Забули пароль?</a></p>
                </form>

            </div>
        </div>

{% endblock %}