{% extends "base.html" %}

{% block title %}Поновлення паролю{% endblock %}

{% block sidebar %}
    <div style="background-color: #eff3f6"></div>
{% endblock %}

{% block content %}
    <div class="content account">
        <div class="login-form">
            <h3>Поновлення паролю:</h3>
            <p>Забули пароль? Введіть нижче Вашу e-mail адресу,
                і ми відправимо вам інструкцію по встановленню нового паролю.</p>
            <form method='post' action=''>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Скинути пароль</button>
            </form>
        </div>
    </div>
{% endblock %}