{% load static %}
{% load sidebar %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}Журнал{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div id="logo" style="float:left">
            <img src="/media/people/graduation-hat.png" alt="Logo">
        </div>
        <div id="logotext" style="float:left">
            <p>ЕЛЕКТРОННИЙ ЖУРНАЛ КАФЕДРИ ПРОГРАМНИХ СИСТЕМ І ТЕХНОЛОГІЙ</p>
        </div>

    </div>
    {% block sidebar %}
        <div class="sidebar">
         {% if request.user.user_status == 'student' %}
             {% student_sidebar request.user %}
         {% else %}
             {% teacher_sidebar request.user %}
         {% endif %}
        </div>
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <p>© Київський національний університет імені Тараса Шевченка Кафедра Програмних систем і технологій</p>
    </div>
</body>
</html>